<style>
    .nav-title{
        display: none;
    }
</style>
<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">

    <form class="layui-form" action="" method="post" >

        <div class="layui-form-item">

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="required">
                        <option value="1" {{if NumEq 1 .data.status}}selected{{end}}>通过</option>
                        <option value="2" {{if NumEq 2 .data.status}}selected{{end}}>不通过</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline" style="min-width: 200px;">
                    <input type="text" name="remark" id="remark" value="{{.data.remark}}" autocomplete="off" class="layui-input" >
                </div>
            </div>

        </div>
        <input type="hidden" name="id" id="id" value="{{.data.id}}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    var $;
    layui.use(['form','element','layer','jquery'],function(){
        var form = layui.form; 
        var $ = layui.jquery;
        var error_info = "{{.flash.error}}";
        if(error_info){
            layer.msg(error_info,{icon: 2,shade:0.3},function () {
                window.history.go(-1)
            })
            return;
        }
        form.on('submit(sub)', function(data){
            var formData = data.field;
            $.post('{{urlfor "BlogCommentController.SaveOrUpdate"}}', formData, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1,shade:0.3,time:1000},function () {
                        window.parent.layer.closeAll();
                        window.parent.location.reload();
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
        });

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>