<div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module">
        <h5 class="custom-title"><i class="fa fa-tags fa-fw icon"></i><strong>标签云</strong><small></small></h5>
        {{range $index, $elem := .blogTags}}
        <a style="font-size: {{RandNum 15 8}}px;margin: 5px;" href="{{$.config.siteUrl}}/tag/{{$elem.Id}}" title="{{$elem.Name}}" data-toggle="tooltip" data-placement="bottom">
            {{$elem.Name}}
        </a>
        {{end}}
    </div>
    <div class="clear"></div>
    <div class="sidebar-module">
        <h5 class="custom-title"><i class="fa fa-fire icon"></i><strong>最新文章</strong><small></small></h5>
        <ul class="ul-default newest-info">
                {{range $index, $elem := .hotBlogs}}
                    <li>
                        {{ Add $index 1}}、 
                        <a href="{{$.config.siteUrl}}/blog/{{$elem.Code}}" title="{{$elem.Title}}" data-toggle="tooltip" data-placement="bottom">
                            {{$elem.Title}}
                        </a>
                    </li>
                {{end}}
      	</ul>
    </div>
    <div class="clear"></div>
</div>